<%= render "shared/layout" %>
<div class='content-middle-body'>
  <div>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> <%= image_tag('menu.svg', width: "50px", height: '38px') %> </button>
    <%= render "shared/sidebar_user" %>
  </div>
  
  <div class="wrapper-history">
    <div class="box-auth-history-advertise">
      <% @advertise_products.each do |item| %>
        <div class="box-wrapper-history-advertise opacity-<%="#{item.desactive?}"%>">
          <div class="col-item-history">
            <% if item.images.attached? %>
              <%= link_to image_tag(item.images.first.representation(resize_and_pad: [115, 115])), advertise_product_path(item)  %>
            <% else %>
              <%= link_to (image_tag('sem-foto.jpg', width: "115px")), advertise_product_path(item) %>
            <% end %>
          </div>
          <div class="col-item-history description">
            <div><span>Data do anuncio:  </span><%=  item.created_at.strftime("%d/%m/%y") %></div>
            <div class="title"><span class="value-item"><%= item.title %></span></div>
            <div><span class="value-item">Valor:</span><%= number_to_currency(item.price) %></div>
            <div><span class="value-item"><%= image_tag('join.svg') %></span><%= "#{item.interested_amount}/#{item.amount}" %></div>
          </div>
          <div class="col-item-history">
            <div class="btn-status btn-active-<%= item.active? %>">
              <%= link_to_if item.desactive?, "#{item.active? ? 'Ativado': 'Ativar'}", active_account_product_path(item, page: @advertise_products.current_page) %>
            </div>
            <div class="btn-status btn-desactive-<%= item.desactive? %>">
              <%= link_to_if item.active?, "#{item.desactive? ? 'Desativado': 'Desativar'}", desactive_account_product_path(item, page: @advertise_products.current_page) %>
            </div>
          </div>
          <div class="col-item-history">
            <%= image_tag('chat.svg') %>
          </div>
        </div>
      <% end %>
    </div>
        <%= paginate @advertise_products %>
  </div>
</div>
