<%= render "shared/layout" %>
<div class='content-middle-body'>
  <div>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> <%= image_tag('menu.svg', width: "50px", height: '38px') %> </button>
    <%= render "shared/sidebar_user" %>
  </div>
  <div class="wrapper">
    <div class="box-auth">
      <div class="box-wrapper">
        <%= form_with model: [:account, @product], id: "form-register" , local: true do |form| %>
          <%= render partial:'step_one', locals: {form: form}  %>

          <%= render partial: 'step_two', locals: {form: form} %>

          <%= render partial: 'step_three', locals: {form: form} %>

          <%= render partial: 'step_four', locals: {form: form} %>

        <% end %>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'forms' %>