<%= render "shared/layout" %>
<div class='content-middle-body'>
  <div>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> <%= image_tag('menu.svg', width: "50px", height: '38px') %> </button>
    <%= render "shared/sidebar_user" %>
  </div>
  <div class="wrapper">
    <div class="box-auth">
      <div class="box-wrapper">
        <%= form_with model: [:account, @product], id: "form-register" , local: true do |form| %>
          <div class="container stretch">
            <div class="form-register item">
              <div class="advertise-details">
                <p id="title-register-advertise">Publique seu anuncio</p>
                <%# <%= form.hidden_field :user_id, value: @user.id %> 
                <div class="input-box list">
                  <div>Indique a quantidade de pessoas para sua lista</div>
                  <%= form.number_field :amount, min: 2, step: 1, required: true, placeholder: true %>
                </div>

                <div class="input-box list">
                  <div>Valor do produto/serviço anunciado</div>
                  <%= form.number_field :price, min: 1, step: 0.01, required: true, placeholder: true%>
                </div>

                <div class="input-box title">
                  <div class="title">Titulo do anuncio</div>
                  <%= form.text_field :title, required: true %>
                </div>


                <div class="input-box body">
                  <div class="body">Descrição do anuncio</div>
                  <%= form.text_field :body, required: true %>
                </div>
              </div>
            </div>

            <div class="item">
                            <%= form.file_field :images, :multiple => true, direct_upload: true %>

              <div class="image-upload">

              </div>
              <div class="input-box">
                <%= form.submit "Publicar anuncio" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
