<%= render "shared/layout" %>
<div class='content-middle-body'>
  <div>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> <%= image_tag('menu.svg', width: "50px", height: '38px') %> </button>
    <%= render "shared/sidebar_user" %>
  </div>

  <div class="wrapper-advertise">
    <div class="box-auth-advertise">
      <div class="box-wrapper-advertise">
        <div class="container-advertise">
          <div class="content-top">
            <div class="side-left">
              <% if @product.image? %>
                <%= render 'product_images', locals: {product: @product} %>
              <% else %>
                <%= (image_tag('sem-foto.jpg', width: "115px")) %>
              <% end %>
            </div>

            <div class="side-right">
              <%= render 'description_product', locals: {product: @product} %>
            </div>
          </div>

            <div class="content-middle">
              <%= render 'join', locals: {product: @product} %>
            </div>

          <div class="content-bottom">
            <%= render 'detail_product', locals: {product: @product} %>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

