

<%= render "shared/layout" %>
<div class='content-middle-body'>
  <div>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> <%= image_tag('menu.svg', width: "50px", height: '38px') %> </button>
    <%= render "shared/sidebar_user" %>
  </div>
  <div class="wrapper">
    <div class="box-auth-room">
      <div class="box-wrapper-room">
          <div class="container-room stretch">
            <div class="chat-list-item item">
              <div class="list-room">
              <div>
                <%= turbo_stream_from "users" %>
                <div id="users">
                  <%= render 'account/users/user', collection: @users %>
                </div>
              </div>
            </div>
            


            <div class="item">
              <div class="box-chat">
              <% if @single_room %>
              <h4 class="text-center"><%= image_tag @user&.avatar.variant( resize_to_fit: [45, 45]) %> <%= @user&.name.capitalize || @single_room.name %> </h4>
              <% end %>
                <div class="room-message bg-light", id="box-messages">
                  <div class="bg-white text-black width-chat">
                    <% if @single_room %>
                      <%= turbo_stream_from @single_room %>
                      <div id="messages">
                        <%= render @messages %>
                      </div>
                    <% end %> 
                    <% if @single_room %>
                      <%= render partial: 'layouts/new_message_form' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </div>
</div>
