<%= render "shared/layout" %>
<div class='content-middle-body'>
  <%= render "shared/sidebar_admin" %>
  <div class="wrapper">
    <div class="box-auth">
      <div class="box-wrapper">
      <div class='form-register'>
      
        <%= form_with model: [:manager, @company], id: "form-register" , local: true do |form| %>
          <p id="title-register-user">Dados para cadastro</p>
          <div class="input-box">
            <%= form.text_field :name, required: true, placeholder: true %>
          </div>

          <div class="input-box">
            <%= form.text_field :cnpj, max: 14, required: true ,placeholder: true, onkeypress:"$(this).mask('00.000.000/0000-00')"%>
          </div>

          <div class="input-box">
            <%= form.email_field :email, required: true, placeholder: true %>
          </div>


          <div class="input-box">
            <%= form.text_field :address, required: true,  placeholder: true %>
          </div>

          <div class="input-box">
            <%= form.submit "Cadastrar" %>
          </div>
        <% end %>

  
      </div>
    </div>
  </div>
</div>
